.input {
    height: 50px;
    font-size: 20px;
    border-left: none;
    background-color: transparent;
  }
  .inputText {
    display: flex;
    min-width: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-right: none;
    font-size: 20px;
  }
  .btn {
    min-height: 50px;
    align-items: center;
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
  }
  .link:hover {
    cursor: pointer;
    color: gray;
    text-decoration: underline;
  }