.input {
    height: 60px;
    font-weight: 600;
    font-size: 22px;
    border-left: none;
  }
  .inputText {
    display: flex;
    min-width: 30px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-right: none;
    font-size: 22px;
  }