.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  // padding: 2vh 5vw;
  min-height: 100vh;
}

.hero {
  img {
    max-height: 500px;
  }
}
