.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  // padding: 2vh 5vw;
  min-height: 100vh;
}

.hero {
  img {
    max-height: 500px;
  }
}

.section8 {
  font-family: Poppins;
  background-color: #ff5e00;
  text-align: center;
  color: #FFFFFF;
    width: 100%;
    opacity: 0.8;
    padding: 20px 40px 40px;
}
.heading1Header{
  font-size: 24px;
}

.subHeading1Paragraph{
  font-size: 12px;
}

  .languages {
    display: flex;
    justify-content: center;
  }
  .intLangBox{
    margin-right: 10px;
    width: 100%;
    line-height: 18px;
}
  
  .intLang {
    font-size: 18px;
      }

  .indLang {
font-size: 18px;
  }

  .indLangBox {
margin-left: 10px;
width: 100%;
    line-height: 18px;
  }

  .subIntLang1 {
    font-size: 14px;
  }

  .subIndLang1{
    font-size: 14px;
  }

  .subIntLang2{
    font-size: 12px;
  }
  .subIndLang2{
    font-size: 12px;
  }
  .virtualBox{
    line-height: 18px;
    margin-bottom: 20px;
    margin-top: 20px;
  }
  .heading2{
    font-size: 18px;
    margin-bottom: 0px;
  }
  .subHeading2{
    font-size: 14px;
    margin-bottom: 0px;
  }
  .virtualText1 {
    font-size: 12px;
    margin-bottom: 0px;
  }
  .virtualText2 {
    font-size: 12px;
  }
  .section8Button{
    --bs-bg-opacity: 1;
    background-color: rgb(21 106 151);
    padding: 6px 32px;
    font-size: 13px;
    font-weight: bold;
    box-shadow: 1px 2px 5px #282d2b;
    border: none;
    border-radius: 5px;
  }
  .section9{
    --bs-white: #fff;
    display: flex;
    width: 100%;
    justify-content: space-around;
    padding: 18px;
    align-items: center;
    margin: -4px -8px;
  }

  .section9Text{
font-weight: bold;
padding-top: 14px;
  }
  .section9ButtonBox{
    display: flex;
    justify-content: space-evenly;
  }
span .section9Button{
margin-right: 5px;
}
  .section9Button{
    --bs-bg-opacity: 1;
    background-color: rgb(38, 118, 161);
    padding: 6px 5px;
    font-size: 13px;
    font-weight: bold;
    //box-shadow: 1px 2px 5px #282d2b;
    border: none;
    border-radius: 5px;
    color: white;
    margin: 0px;
    
  }
  .arrow{
    height: 24px;
    width: 24px;
    margin-top: 6px;
    // align-items: center;

  }
  @media (min-width: 320px) and (max-width: 375px) {
 .section9Button{
  display: flex;
  /* width: 100%; */
  align-items: center;
  flex-direction: row;
  padding: 3px 0px;
 
 }
 }
  @media (min-width: 320px) and (max-width: 375px) {
 .section9ButtonText{
  display: flex;
 //flex: 2;


 }
 }
  @media (min-width: 320px) and (max-width: 375px) {
 .section9ButtonInButton{
  display: flex;
  justify-content: space-between;
 }
 }
.innercontainer1{
  display: flex;
  justify-content: space-around;
}

.innercontainer2{
  display: flex;
  text-align: center;
}

.innercontainer3{
  display: flex;
  justify-content: center;
  align-content: center;
}

.innercontainer4{
  display: flex;
  justify-content: space-around;
}

.section7{
  background: linear-gradient(180deg, #52B6EC 0%, rgba(82, 182, 236, 0) 100%);
}

.centeredBtnContainer3{
  background-color: #FF9900;
  color:#FFFFFF;
  border: none;
  text-align: center;
  padding: 10px 30px;
  border: none;
}