.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  // justify-content: space-between;
  // padding: 2vh 5vw;
  min-height: 100vh;
}

.hero {
  img {
    max-height: 500px;
  }
}

.section8 {
  font-family: Poppins;
  //display: flex;
  background-color: #FF9900;
  text-align: center;
  // justify-content: space-around;
  color: #FFFFFF;
    width: 100%;
    //height: 674px;
    //top: 5751px;
    left: -7px;
    gap: 0px;
    opacity: 0px;
   //margin: 10px
}
   .secheading {
    font-size: 26px;
    font-weight: 600;
    line-height: 54px;
    //text-align: center;
    padding-top: 20px;
  }

  .lang {
font-size: 14px;
font-weight: 700;
line-height: 36px;
padding-top: 20%;
  }
  .paragraph {
font-size: 8px;
font-weight: 600;
line-height: 27px;
padding-bottom: 0px;
  }
