.dontHaveAcctlink {
  color: rgb(7, 172, 249);
}
.dontHaveAcctlink:hover {
  color: gray;
  text-decoration: underline;
}
.btn {
  min-height: 60px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-weight: 500;
  font-size: large;
}
.btnFacebook {
  background-color: #527bcb;
}
.btnFacebook:hover {
  background-color: #7997d1;
}
.socialDivide {
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.input {
  height: 50px;
  font-size: 20px;
  border-left: none;
}
.inputText {
  display: flex;
  min-width: 30px;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-right: none;
  font-size: 20px;
}
