.dontHaveAcctlink {
  color: rgb(7, 172, 249);
}
.dontHaveAcctlink:hover {
  color: gray;
  text-decoration: underline;
}
.btn {
  height: 70px;
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
  text-align: center;
  font-weight: 600;
  font-size: larger;
}
.btnFacebook {
  background-color: #527bcb;
}
.btnFacebook:hover {
  background-color: #7997d1;
}
.socialDivide{
    display: flex;
    align-items: flex-end;
    justify-content: center;
}
.input{
    height: 70px;
    font-weight: 700;
    font-size: 25px;
    border-left: none;
}
.inputText{
    display: flex;
    min-width: 50px;
    justify-content: center;
    align-items: center;
    background-color: white;
    border-right: none;
    font-weight: 900;
    font-size: 25px;
}