.bg-primary {
    background-color: $primary;
  }
  
  .bg-secondary {
    background-color: $secondary;
  }
  
  .bg-tertiary {
    background-color: $tertiary;
  }
  
  .text-primary {
    color: $primary;
  }
  
  .text-secondary {
    color: $secondary;
  }
  
  .text-tertiary {
    color: $tertiary;
  }